<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 18rem; margin-top: 42px;">
        <div class="card-body">
          <h5 class="card-title">Add Product</h5>
          <form method="POST" action="/product" enctype="multipart/form-data">
            <div class="form-group">
              <label for="productName">Name</label>
              <input type="text" class="form-control" id="productName" aria-describedby="productHelp" name="name">
              <small id="productHelp" class="form-text text-muted">Enter Product Name.</small>
            </div>
            <div class="form-group">
              <label for="productPrice">Price</label>
              <input type="number" class="form-control" id="productPrice" name="price">
            </div>
            <div class="form-group">
              <label for="productPrice">Photo</label>
              <input type="file" class="form-control" id="productPhoto" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <table class="table" style="margin-top: 56px;">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Photo</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{ id }}</th>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
            <td><img width="128" src="{{ photo }}"></td>
            <td>
              <a href="/delete/product/{{ id }}" type="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>  
</body>
</html>